EZSHARE_EXTERNAL_IP=192.168.0.104
EZSHARE_SERVER_ADDRESS=0.0.0.0:5050  # http服务监听的地址
EZSHARE_SECRET=
EZSHARE_SESSION_TIMEOUT_SECONDS=0
EZSHARE_TURN_ADDRESS=0.0.0.0:3478  # TURN服务监听的地址
EZSHARE_TURN_PORT_RANGE=50000:55000
EZSHARE_TURN_REALM=ezshare
EZSHARE_AUTH_MODE=turn
EZSHARE_SERVER_TLS=true
EZSHARE_TLS_CERT_FILE=
EZSHARE_TLS_KEY_FILE=
EZSHARE_CORS_ALLOWED_ORIGINS=
EZSHARE_USERS_FILE=
EZSHARE_CLOSE_ROOM_WHEN_OWNER_LEAVES=true
EZSHARE_VERSION=1.0